name: Android

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js v12
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - run: yarn
    
    - run: ./gradlew assembleDebug -Dorg.gradle.logging.level=info
      working-directory: example/android
      name: Build Android apk (debug)
